body{
    margin: 0;
    font-family: 'Georgia serif';
    background-color: rgba(243, 177, 54, 0.082);
}
.menu{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(252, 253, 187);
}
.logo{
    font-size: 40px;
}
.menu_item{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(252, 253, 187);
    color: #888;
    font-weight: 800;
    cursor: pointer;
}
.menu_item div{
    margin:0px 5px;
    padding: 14px;
    font-size: 20px; 
}
.wraper_content{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}
.cats{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.cat_img{
    width: 300px;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
}
.cat_cart{
    background-color: rgba(252, 253, 187, 0.699);
    width: 340px;
    height: 300px;
    border: 1px solid #aaa5;
    box-shadow: 0px 0px 6px 0px #aaa4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: upp 1s 5s linear;
    cursor: pointer;
}
.upp{
    transform: scale(1);
}

.info_wraper{
    width: 85%;
    height: 80vh;
}
.img_cat{
    width: 300px;
    height: 250px;
}
.wrapper_page_info{
    position: fixed;
    background-color: rgba(243, 177, 54, 0.151);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;  
}
.wrap_info_cart{
    position: relative;
    top: calc(50% -125px);
    padding: 20px;
    width: 700px;
    height: 350px;
    background: #fcfdbb;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #aaa ;
    border-radius: 10px;
}
.btn_close{
    position: absolute;
    right: 2%;
    top: 2%;
    background-color:#fae19e;
    border: 1px solid rgb(250, 225, 158);
    color: rgb(71, 67, 58);
    font-weight: 800;
    border-radius: 10px;
}
.rotate{
    transition: transform ;
    transform: rotate(45deg);
}
.wrap_info_cart p{
    font-family: 'Arial ';
    font-size: 22px;
    letter-spacing: -0.8;
}
.content_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    z-index: 4;  
}
.wraper_form{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* backdrop-filter: blur(2px); */
    background: #ffffe4;
    display: none;
}
.conteiner_form{
    position: absolute;
    display: flex;
    justify-content: center;
    
}
.conteiner_form>.form{
    position: relative;
    top: calc(50vh - 250px);
    left: calc(50vw - 175px);
    width: 250px;
    height: auto;
    background: #fcfdbb;
    padding: 20px 40px;
}
.columns{
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

button{
    background-color:rgb(250, 225, 158);
    border: 1px solid rgb(250, 225, 158);
    color: rgb(71, 67, 58);
    font-weight: 800;
    border-radius: 10px;
}
.active{
    display: block;
}